#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#info{
    position: absolute;
    top: 10vh;

    font-family: 'D4-font';
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 10%;
}

#plan{
    width: 50vw;
}