#main-image {
  position: absolute;
  top: 0;
  left: 20vw;
  width: 80vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

#enter_button {
  display: none;
  position: absolute;
  bottom: 5vh;
  left: 5vw;
  font-family: "D4-font";
  cursor: pointer;
}

/* Partie mobile */

@media (max-width: 768px) {
  #main-image {
    top: 12vh;
    left: 0;
    width: 100vw;
    height: 88vh;
    object-fit: cover;
    object-position: center;
  }
}
