.project {
    height: 30vh;
    font-family: 'D4-font';
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    position: relative; /* Ensure positioning context for child elements */
    overflow: hidden;
    transition:  1s ease-in-out;
    transition-delay: 0.3s;
}

.project h2 {
    font-size: 5vh;
    position: absolute;
    left: 50vw;
    top: 1vh; /* Align to the bottom of the .project container */
    cursor: pointer;
}

.project p{
    font-size: 2vh;
    position: absolute;
    left: 50vw;
    top: 8vh; /* Align to the bottom of the .project container */
    width: 45vw;

}

.project .date{
    font-size: 2vh;
    position: absolute;
    left: 50vw;
    top: 10vh; /* Align to the bottom of the .project container */
    width: 45vw;
}


.project img{
    position: absolute;
    right: 52vw;
    top: 1.3vh;
    visibility: hidden;
    object-fit: cover;
    height: 20vh;
    width: 25vw;
    cursor: pointer;
    transition:  .5s ease-in-out;
    transition-delay: 0.3s;
    
}






