.project {
  height: 30vh;
  font-family: "D4-font";
  width: 84vw;
  left: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  position: relative; /* Ensure positioning context for child elements */
  overflow: hidden;
  overflow-x: hidden;
  /* transition: 1s ease-in-out;
  transition-delay: 0.3s; */

  /* border: 1px solid rgba(0, 0, 0, 0.975); */
}

.project img {
  position: relative;
  top: 2%;
  visibility: hidden;
  height: 96%;
  width: 25vw;
  object-fit: cover;
  cursor: pointer;
  /* transition: 0.5s ease-in-out;
  transition-delay: 0.3s; */
}

.project .data {
  position: relative;
  width: 50%;
  height: 100%;
  align-items: left;
  display: flex;
  flex-direction: column;
}

.project h2 {
  font-size: 5vh;
  position: relative;
  cursor: pointer;
}

.project p {
  font-size: 2vh;
  position: relative;
  width: 45vw;
}

.project .date {
  font-size: 2vh;
  position: relative;
  top: 10vh; /* Align to the bottom of the .project container */
}

@media (max-width: 768px) {
  .project {
    height: 10vh;
    left: 0;
    padding: 1vh 0;
    overflow-x: hidden;
  }

  .project img {
    height: 100%;
    width: 30%;
  }

  /* .project .data {
    width: 70%;
    height: 100%;
    padding-left: ;
    position: relative;
    align-items: left;
    display: flex;
    flex-direction: column;
  } */

  .data {
    left: -3vw;
  }
  

  .project h2 {
    font-size: 2.5vh;
    position: relative;
    cursor: pointer;
  }

  .project p {
    font-size: 1.5vh;
    position: relative;
    top: 0;
    /* Align to the bottom of the .project container */
    width: 45vw;
  }

  .project .date {
    font-size: 1.5vh;
    position: relative;
    top: 0;
    /* Align to the bottom of the .project container */
  }
}
