html{
  overscroll-behavior: none;
  overflow-x: hidden;
}

header {
  font-family: "D4-font";
  width: 100vw;
  height: fit-content;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(255, 255, 255);
  padding-top: 5vh;
  z-index: 3;
}

.header_text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: top;
  justify-content: space-around;
  text-align: end;
  padding-right: 5vw;
}

a {
  text-decoration: none;
  color: black;
}

a:active {
  color: rgb(128, 128, 128);
}

#logo {
  padding-left: 3vw;
  width: 15vh;
  margin: 1vh;
}

#main {
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(10vh);
  grid-auto-flow: row;
  height: fit-content;
  padding-bottom: 5vh;
  /* padding-bottom: 10vh; */
}

/* .project{

    height: 20vh;
    font-family: 'D4-font';
    width: 100vw;
    
    padding-left: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
   
} */

@media (max-width: 768px) {
  header {
    grid-template-columns: 1fr 1fr;
    height: 8vh;
    padding-top: 2vh;
    overflow-x: hidden;
  }

  .header_text {
    width: 60vw;
    text-align: left;
    padding-top: 2vw;
  }

  .header_text h2 {
    font-size: 1.5vh;
  }

  #logo {
    width: 8vh;
    padding-left: 4vw;
    padding-right: 4vw;
    margin: 0;
  }

  #main {
    grid-template-rows: repeat(20vh);
  }
}
